---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Animation from "../components/Animation.astro";
import Heading from "../components/Heading.astro";
import Grdis from "../components/Grids.astro";
import Midhead from "../components/Midhead.astro";
import Bars from "../components/Bars.astro";
import Marquee from "../components/Marquee.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Artigence">
	<main>
		<Navbar />
		<Animation />
		<Heading />
		<Grdis />
		<Midhead />
		<Bars />
		<Marquee />
		<Footer />
	</main>
</Layout>
