<div class="frame">
    <p>Animation</p>
</div>
<style>
    .frame {

        background: #ffffff;
        width: 100%;
        height: 100vh;
        color: rgba(13, 13, 14, 0.308);
        display: flex;
        justify-content: center;
        font-size: 3pc;
        transition: 0.5s;

    }

    @media (max-width: 600px) {
        .frame {

            height: 80vh;
            font-size: 3pc;
        }
    }
</style>