<div class="frame">
    <p>Animation</p>
</div>
<style>
    .frame {
        background: #ffffff;
        width: 100%;
        height: 50vh;
        color: rgba(13, 13, 14, 0.308);
        display: flex;
        justify-content: center;
        font-size: 3pc;
    }

    @media (max-width: 600px) {
        .frame {
            height: 10vh;
            font-size: 2pc;
        }
    }
</style>