<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.35/build/spline-viewer.js"></script>

<div class="frame">
    <iframe src='https://my.spline.design/clonercubesimplecopycopy-3b387d372522fd904a04afe21b055a17/' frameborder='0' width='100%' height='100%'></iframe>
</div>

<style>
    .frame {

        background: #ffffff;
        width: 100%;
        height: 100vh;
        color: rgba(13, 13, 14, 0.308);
        display: flex;
        justify-content: center;
        font-size: 3pc;
        transition: 0.5s;

    }

    @media (max-width: 600px) {
        .frame {

            height: 80vh;
            font-size: 3pc;
        }
    }
</style>