<div class="heading">
    <div class="t">
        <p>Heading</p>
        <txt>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, labore! Corporis, doloremque esse officia nulla ullam modi sint? Accusantium velit quasi unde atque distinctio nam cumque nobis modi sapiente numquam.
        Saepe odit id iusto consequatur modi quis voluptatibus minus, beatae sunt natus, ea autem et ducimus, vel distinctio sapiente dolore. Non nemo architecto magni illum quidem culpa quasi veniam! Omnis.
        Corrupti officia iste pariatur nam dolores quo, sequi impedit eveniet? Quam, minus! Consectetur optio quidem repudiandae quam. Explicabo, maiores repudiandae recusandae quisquam ipsam assumenda fuga sed. Porro officia repellendus necessitatibus!
        Pariatur magni veniam similique atque saepe. Consequuntur voluptate alias placeat laborum at ut fuga ab laboriosam eum commodi delectus sapiente, quod tenetur nam distinctio, pariatur, quam optio sequi labore. Commodi.
        In quo, nemo ex nostrum perferendis, excepturi fugit ea, rem eveniet quod beatae quasi non possimus? Temporibus maxime aspernatur neque. Quos eaque, doloremque sunt quis consectetur nostrum hic cupiditate dolorum.</txt>
    </div>
</div>

<style>
    .heading {
        position: absolut;
        background: linear-gradient(
            to bottom,
            #d3d3d3,
            rgb(255, 255, 255)
        );

        width: 100%;
        height: 350px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .t {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
    }
    p{
        margin-top: 200px;
        color: rgb(0, 0, 0);
        font-size: 3pc;
    }
    txt{

        padding-inline: 200px;

    }
</style>
