<style>
    .heading {
        position: relative; /* Make it relative for absolute positioning of inner elements */
        background: linear-gradient(to bottom, #e5cdbd, rgb(255, 255, 255));
        width: 100%;
        height: 350px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        opacity: 0;
        transform: translateY(300px) scale(1);
        transition:
            opacity 0.5s ease-in,
            transform 0.7s ease-in-out;
        visibility: hidden;
    }

    .heading.visible {
        opacity: 1;
        transform: translateY(0) scale(1);
        visibility: visible;
    }

    .t {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p {
        margin-top: 200px;
        color: rgb(0, 0, 0);
        font-size: 3pc;
    }

    txt {
        padding-inline: 200px;
    }

    @media (max-width: 480px) {
        .heading {
            height: auto;
        }

        p {
            margin-top: 100px;
            font-size: 24px;
        }

        txt {
            padding-inline: 20px;
            font-size: 14px;
        }
    }
</style>

<div class="heading">
    <div class="t">
        <p>Heading</p>
        <txt
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            labore! Corporis, doloremque esse officia nulla ullam modi sint?
            Accusantium velit quasi unde atque distinctio nam cumque nobis modi
            sapiente numquam. Saepe odit id iusto consequatur modi quis
            voluptatibus minus, beatae sunt natus, ea autem et ducimus, vel
            distinctio sapiente dolore. Non nemo architecto magni illum quidem
            culpa quasi veniam! Omnis. Corrupti officia iste pariatur nam
            dolores quo, sequi impedit eveniet? Quam, minus! Consectetur optio
            quidem repudiandae quam. Explicabo, maiores repudiandae recusandae
            quisquam ipsam assumenda fuga sed. Porro officia repellendus
            necessitatibus! Pariatur magni veniam similique atque saepe.</txt
        >
    </div>
</div>

<script>
    const heading = document.querySelector(".heading");

    function checkScroll() {
        if (heading) {
            const headingPosition = heading.getBoundingClientRect().top;
            const screenPosition = window.innerHeight / 1.2;

            if (
                headingPosition < screenPosition &&
                !heading.classList.contains("visible")
            ) {
                heading.classList.add("visible");
            }
        }
    }

    window.addEventListener("scroll", checkScroll);
</script>
