<div class="position-relative marquee-container d-none d-sm-block">
  <div class="marquee d-flex justify-content-around">
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
  </div>
  <div class="marquee marquee2 d-flex justify-content-around">
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
    <h1>HEADING</h1>
  </div>
</div>

<style>
  .marquee-container {

    background: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .marquee, .marquee2 {
    position: absolute;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 15s linear infinite;
  }

  /* Delaying the second marquee so it doesn't overlap */
  .marquee2 {
    animation-delay: 7.5s;
  }

  h1 {
    margin: 0 50px;
    font-size: 8rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
