<div class="position-relative marquee-container d-none d-sm-block">
    <div class="marquee d-flex justify-content-around">
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
    </div>
    <div class="marquee marquee2 d-flex justify-content-around">
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
      <h1>HEADING</h1>
    </div>
    
  </div>
  <style>
    .marquee-container {
        margin-top: 50px;
        margin-bottom: 50px;
  height: 50px; /* Adjust height as needed */
  overflow: hidden;
  line-height: 50px;
  position: relative;
}

.marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 15s linear infinite; /* Adjust speed here */
}

.marquee2 {
  animation-delay: 7.5s; /* Half of the animation time to stagger the second one */
}

h1 {
  display: inline-block;
  margin: 0 50px; /* Adjust space between headings */
  font-size: 5cap;
  font-weight: 100; /* Regular weight */
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

  </style>
