<div class="nav">
    <div class="logowrapper">
        <img class="logo" src="Group.png" alt="">
        <h3>Artigence</h3>
    </div>

    <!-- Toggle checkbox for menu -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <div class="link">
        <a href="https://example.com/homepage" target="_blank">
            <img src="Vector.png" alt="Homepage">
        </a>
        <a href="https://facebook.com" target="_blank">
            <img src="🦆 icon _facebook icon_.png" alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="🦆 icon _instagram icon_.png" alt="Instagram">
        </a>
    </div>
</div>

<style>
    .nav {
        display: flex;
        background: #F1F2F1;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 3%;
        box-sizing: border-box;
    }

    .logowrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(0, 0, 0);
    }

    .logo {
        margin-bottom: 5px;
        height: 40px;
    }

    h3 {
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }

    .link {
        display: flex;
        gap: 10px;
        margin-right: 3%;
    }

    .link img {
        height: 25px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-icon {
        display: none;
        font-size: 1.8em;
        cursor: pointer;
    }

  /* Responsive styling for mobile */
  @media (max-width: 780px) {
        .nav {
            width: 100%;
            padding-inline: 0px;
            flex-direction: row;
            justify-content: space-between;
        }

        .logowrapper {
            justify-content: flex-start;
            margin-left: 3%;
            margin-top: 3%;
        }

        .link {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -100vw;
            margin-right: 50px;
            margin-top: 10px;
            padding: 20px;
            transition: right 0.5s ease;
            gap: 20px;
        }

        .menu-icon {
            margin-right: 3%;
            margin-top: 3%;
            display: block;
            z-index: 0;
            font-size: 1.8em;
            position: relative;
        }

        .menu-toggle:checked ~ .link {
            right: 0;
        }
    }
</style>
